.social-container {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.social-container ul {
  display: inline-flex;
  padding: 15px 0 0 10px;
  border: 1px dotted black;
}

.social-container li {
  margin-right: 15px;
}

.gh-icon {
  fill: grey;
}

.link-icon {
  fill: #0077b5;
}

.fb-icon {
  fill: #3b5998;
}

.ig-icon {
  fill: linear-gradient( #400080, transparent), 
  linear-gradient( 
   200deg, #d047d1, #ff0000,    #ffff00);
  background: white;
  padding: 1px;
}

.sc-icon {
  fill: #fc6822;
}
