.nav-container {
  width: 100%;
  min-width: 320px;
  display: inline-block;
  background-color: black;
}

.nav-header {
  color: #808080;
  float: left;
  padding: 10px 0 10px 15px;
  font-size: 25px;
}

.resume-link a {
  float: right;
  padding: 5px 15px 10px 0;
  text-decoration: none;
  color: #909090;
}

.resume-link svg {
  fill: white;
}

