.nav-bar {
  height: 60px;
  padding-top: 15px;
  position: fixed;
  width: 100%;
}

.resume-link {
  float: right;
  width: 20%;
  margin: -30px;
  padding: 10px;
}

.resume-link a {
  font-size: 14px;
  display: block;
  color: #303030;
}

.resume-link svg {
  float: right;
  margin-right: 20px;
  padding: 10px;
}

.resume-link .cv {
  visibility: hidden;
}

@media(max-width: 400px) {
  .nav-bar {
    width: 100%;
  }

  .resume-link .dl {
    display: none;
  }

  .resume-link .cv {
    display: block;
}
}