.nav-bar {
  background: #fff;
  width: 100%;
  padding: 20px;
  width: calc(100% - 40px);
}


.resume-link a {
  font-size: 14px;
  display: block;
  color: #303030;
}

.resume-link svg {
  float: right;
}


@media(max-width: 425px) {
  .resume-link svg {
     margin-right: -65px;
  }
}