.title {
  padding: 250px;
  height: 500px;
  background: linear-gradient(
              rgba(0, 0, 0, 0.1),
              rgba(0, 0, 0, 0.09)
              ),
  url('https://s3.amazonaws.com/mariosbucket/photodune-2705436-boston-waterfront-m1.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}

.title-box {
  background-color: rgba(255, 255, 255, 0.66);
  width: 400px;
  margin: 0 auto;
  padding: 20px;
}

.title-box h1 {
  padding-top: 15px;
  font-weight: bold;
  margin-bottom: 0px;
}

.title-box h5 {
  color: #2b2a2a;
}

.description p {
  width: 80%;
  margin: 0 auto;
  background-color: #808080;
  padding: 5%;
  font-size: 16px;
  line-height: 30px;
}

.description h5 {
  font-weight: bolder;
}

.description {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 5%
}
