.title {
  padding-top: 200px;
  height: 500px;
  margin: 0 auto;
}

.title-box {
  background-color: rgba(200, 200, 200, 0.66);
  width: 400px;
  margin: 0 auto;
  padding: 20px;
}

.title-box h1 {
  padding-top: 15px;
  font-weight: bold;
  margin-bottom: 0px;
}

.title-box h5 {
  color: #2b2a2a;
}

.description p {
  width: 80%;
  margin: 0 auto;
  background-color: #808080;
  padding: 5%;
  font-size: 16px;
  line-height: 30px;
}

.description h5 {
  font-weight: bolder;
}

.description {
  background-color: rgba(0, 0, 0, 0.1);
  padding-bottom: 5%
}

@media(max-width: 400px) {
  .title {
  padding-top: 200px;
  height: 500px;
  margin: 0 auto;
  background-image: none;
  background-color: rgba(255, 255, 255, 0.66);
}

.title-box {
  background-color: rgba(200, 200, 200, 0.66);
  width: 100%;
  margin: 0 0 0 15px;
  padding: 10px;
}

.title-box h1 {
  padding-top: 15px;
  font-weight: bold;
}

.title-box h5 {
  color: #2b2a2a;
}

.description p {
  margin: 0 auto;
  background-color: #808080;
  padding: 5%;
  font-size: 16px;
  line-height: 30px;
}

.description h5 {
  font-weight: bolder;
}

.description {
  background-color: rgba(0, 0, 0, 0.1);
  width: 115%;
}
}
