
.section-title h5 {
  font-weight: bolder;
}

.project-container {
  width: 100%;
  border-bottom: 2px solid black;
}

.project-container .project {
  display: inline-block;
  width: 360px;
}

.project-container img {
  width: 290px;
  float: left;
  margin-left: 5%;
  border: 1px solid grey;
}

.project-container img:hover {
  opacity: 0.3;
  filter: alpha(opacity=30);
}

.project-container p {
  width: 290px;
  height: 260px;
  padding: 0 0 0 0px;
  margin-left: 5%;
  float: left;
  text-align: left;
}

.project-container a {
  font-size: 25px;
}

.project-container h5 {
  padding-top: 15px;
}

@media(max-width: 400px) {
  .project-container {
    width: 115%;
    margin: 0 auto;
  }
  .project-container img {
  width: 290px;
  float: left;
  border: 1px solid grey;
}

.project-container img:hover {
  opacity: 0.3;
  filter: alpha(opacity=30);
}

.project-container p {
  width: 290px;
  height: 260px;
  padding: 0 0 0 0px;
  float: left;
  text-align: left;
  overflow: scroll;
}
}